<!DOCTYPE html>
<html>
    <head>
        <title>Rango</title>
	{% load staticfiles %}
	<link rel="stylesheet" type="text/css" href=" {% static 'css/az.css' %} " >
	<script src="{% static 'jquery-1.11.3.js' %}"></script>
	

	<link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
  <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js"></script>	

    </head>

    <body>

	<div id="fb-root"></div>
<script>(function(d, s, id) {
  var js, fjs = d.getElementsByTagName(s)[0];
  if (d.getElementById(id)) return;
  js = d.createElement(s); js.id = id;
  js.src = "//connect.facebook.net/en_US/sdk.js#xfbml=1&version=v2.3";
  fjs.parentNode.insertBefore(js, fjs);
}(document, 'script', 'facebook-jssdk'));</script>

	<div id="container">
        

	<nav class="navbar navbar-default">
  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
	
	<form class="navbar-form navbar-left" role="search">
        <div class="form-group">
          <input type="text" class="form-control" placeholder="Search">
        </div>
        <button type="submit" class="btn btn-default">Submit</button>
      </form>	


      <a class="navbar-brand" href="#"> <span class="glyphicon glyphicon-home" aria-hidden="true"></span></a>
</div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav">
        <li class="active"><a href="http://circleofindia.in/cpost.php?top=30&lt=1">Top 30 <span class="sr-only">(current)</span></a></li>
        <li><a href="http://circleofindia.in/cpost.php?cat=5&lt=1">Bollywood</a></li>
        <li><a href="http://circleofindia.in/cpost.php?cat=18&lt=1">Cricket</a></li>
	

	 <li class="dropdown">
          <a class="navbar-a " href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">Jokes <span class="caret"></span></a>
          <ul class="dropdown-menu" role="menu">
            <li><a href="http://127.0.0.1:8000/shot/">Text Jokes</a></li>
            <li><a href="http://127.0.0.1:8000/appy/">Photo Jokes</a></li>
        </ul>
        </li>
	<li><a href="http://circleofindia.in/cpost.php?cat=9&lt=1">Phones</a></li>
	<li><a href="http://circleofindia.in/cpost.php?cat=16&lt=1">Food</a></li>
      </ul>
      

      <ul class="nav navbar-nav navbar-right">
        
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">More Categories <span class="caret"></span></a>
          <ul class="dropdown-menu" role="menu">
            <li><a href="http://circleofindia.in/cpost.php?cat=8&lt=1">Music</a></li>
            <li><a href="http://circleofindia.in/cpost.php?cat=26&lt=1">Funny Pictures</a></li>
            <li><a href="#">Shayari</a></li>
	    <li><a href="http://circleofindia.in/cpost.php?cat=23&lt=1">Greetings</a></li>
	    <li><a href="http://circleofindia.in/cpost.php?cat=35&lt=1">Humour</a></li>
             <li><a href="http://circleofindia.in/cpost.php?cat=28&lt=1">Tourism</a></li>
		<li><a href="http://circleofindia.in/cpost.php?cat=29&lt=1">Babies Pics</a></li>
     		<li><a href="http://circleofindia.in/cpost.php?cat=31&lt=1">Hindi News</a></li>
		<li><a href="http://circleofindia.in/cpost.php?cat=32&lt=1">Spiritual</a></li>
		<li><a href="http://circleofindia.in/cpost.php?cat=33&lt=1">Breaking News</a></li>
		<li><a href="http://circleofindia.in/cpost.php?cat=34&lt=1">Without Images</a></li>
		<li><a href="http://circleofindia.in/cpost.php?cat=22&lt=1">Quotes</a></li>
		<li><a href="http://circleofindia.in/cpost.php?cat=21&lt=1">Bikes</a></li>
	  	<li><a href="http://circleofindia.in/cpost.php?cat=20&lt=1">Car</a></li>
		<li><a href="http://circleofindia.in/cpost.php?cat=6&lt=1">Hollywood</a></li>
		<li><a href="http://circleofindia.in/cpost.php?cat=7&lt=1">News</a></li>
		<li><a href="http://circleofindia.in/cpost.php?cat=10&lt=1">Technology</a></li>
		<li><a href="http://circleofindia.in/cpost.php?cat=12&lt=1">Applications</a></li>
		<li><a href="http://circleofindia.in/cpost.php?cat=15&lt=1">Politics</a></li>
            <li class="divider"></li>
            <li><a href="http://circleofindia.in/cpost.php?cat=17&lt=1">Travel</a></li>
          </ul>
        </li>
      </ul>
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>



 {% load staticfiles %}
     <a href="http://www.circleofindia.in" >  <img src="{% static 'images/coi.png' %}"/> </a>


	<ol class="breadcrumb">
  <li class="active"><a href="#">Home</a></li>
  
</ol>	
	<div class="category" >
	
	<h4>Category</h4>
        {% if categories %}
	
           <ul>
                {% for category in categories %}
		
                <!-- Following line changed to add an HTML hyperlink -->
                <li class="list-group-item" >  <a href="/shot/category/{{ category.slug }}" >{{ category.name }}</a></li>
		
                {% endfor %}
            </ul>
       {% else %}
            <strong>There are no categories present.</strong>
       {% endif %}


<center><object width="125" height="125"><param name="wmode" value="transparent"><param name="movie" value="http://www.justjoking.com/bin/rimshot.swf"><embed src="http://www.justjoking.com/bin/rimshot.swf" width="125" height="125" wmode="transparent"></embed></object></center>



</div>

	
	<script>
        $(document).ready(function() {
    $(".expanded").hide();
    
    $(".expanded, .collapsed").click(function() {
        $(this).parent().children(".expanded, .collapsed").toggle();
    </script>

<!--
	<div class="post">
	<h2>Jokes</h2>
	
   	 {% if pages %}
        <ul>
        {% for page in pages %}

	<p>
	<div class="jokes">
<div class="headjoke">
<div class="imagestyle">
	 <img src="{{images.image.url}}"/>
	</div> 
<div class="joketitle">
	<h2>{{page.title}}</h2>
          <!--  <li><a href="/shot/{{ page.slug }}">{{ page.title }}</a></li>  -->
</div>
	</div>
	<div class="mainjoke">
	  <span class="collapsed"> <a href="/shot/category/{{ page.category.slug }}">{{page.category}}</a>:{{page.limit_body}}....</span>
        <span class="expanded">{{page.category}} :{{page.body}}</span>
        <a href="javascript:void(0)" class="expanded">Collapse</a>
	<a href="javascript:void(0)" class="collapsed">Expand</a>
	<br></br>
	
	</div>
</div>
        {% endfor %}
        </ul>

   	 {% else %}
        	<p>There are no posts.</p>
   	 {% endif %}
	</p>
</div>
-->
<div class="post">
{% if posts %}
{% for post in posts.object_list %}
<div class="jokes">
<div class="headjoke">
<div class="imagestyle">
<!--	<a href="{{MEDIA_URL}}{{Page.image}}">media_url</a> -->
         <img src="{{MEDIA_URL}}{{ post.image }}"/>
        </div>
<div class="joketitle">
       <h2> {{ post.title }}</h2>
</div>
        </div>
        <div class="mainjoke">	
	<a href="/shot/category/{{ post.category.slug }}"> <button type="button" class="btn btn-success"> {{post.category}} </button></a> :{{post.body}}

<div class="fb-like" data-href="https://http://127.0.0.1:8000/shot/" data-layout="standard" data-action="like" data-show-faces="true" data-share="true"></div>       
      <!--  {{ post.body|truncatewords:80 }} -->
</div>
</div>
    {% endfor %}

 <ul class="pagination">
      
          {% if posts.has_previous %}
              <li><a href="?page={{ posts.previous_page_number }}">Previous</a></li>
          {% endif %}
          {% for pg in posts.paginator.page_range %}
              {% if posts.number == pg %}
                  <li class="active"><a href="?page={{ pg }}">{{ pg }}</a></li>
              {% else %}
                  <li><a href="?page={{ pg }}">{{ pg }}</a></li>
              {% endif %}
          {% endfor %}
          {% if posts.has_next %}
              <li><a href="?page={{ posts.next_page_number }}">Next</a></li>
          {% endif %}
 </ul>
   

{% endif %}

</div>

<nav class="navbar navbar-default navbar-fixed-bottom" role="navigation" >
	<div class="container-center">
	<p class="navbar-text pull-left"> @copyright techshot.in</p>
	<a href="http://www.circleofindia.in/termsofuse.php" class="navbar-btn btn-warning btn pull-right ">Terms/Copyright</a>
	 <a href="http://www.circleofindia.in/privacy.php" class="navbar-btn btn-info btn pull-right ">Privacy</a>
	<a href="http://www.circleofindia.in/about.php" class="navbar-btn btn-danger btn pull-right ">About Us</a> &nbsp &nbsp
	 <a href="http://www.circleofindia.in/career.php" class="navbar-btn btn-success btn pull-right">Careers</a>&nbsp &nbsp
	 <a href="http://www.circleofindia.in/contact.php" class="navbar-btn btn-primary btn pull-right">Contact Us</a>&nbsp &nbsp
	</div>
</nav>

</div>


    </body>
</html>

